.main-leader {
  margin-top: 10%;

  .main-leader__container {
    .main-leader__contents {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto 0 5%;

      img {
        width: 100%;
        display: block;
      }

      figcaption {
        background-color: #fff;
        position: relative;
        left: -120px;
        top: 100px;
        padding: 60px 50px 0 50px;
        width: 100%;

        h2 {
          @include fontJosefin;
          text-transform: uppercase;
          font-size: 2.1rem;
          width: 60%;
        }

        p {
          @include fontAlata;
          color: $font-dark-gray;
          font-size: 1rem;
          width: 100%;
          margin: 20px 0;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1300px) {
    .main-leader__container {
      .main-leader__contents {
        width: 90%;

        img {
          width: 100%;
        }
        figcaption {
          top: 55px;

          h2 {
            font-size: 2rem;
            width: 80%;
          }

          p {
            width: 100%;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1023px) {
    .main-leader__container {
      .main-leader__contents {
        width: 90%;

        img {
          width: 50%;
        }

        figcaption {
          left: -80px;
          top: 35px;
          padding: 20px 40px 0 40px;

          h2 {
            font-size: 2rem;
            width: 100%;
          }

          p {
            font-size: 0.7rem;
            width: 100%;
            margin: 20px auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 20%;

    .main-leader__container {
      .main-leader__contents {
        padding: 30px;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        img {
          width: 100%;
          display: block;
        }

        figcaption {
          position: static;
          padding: 0;

          h2 {
            font-size: 2rem;
            text-align: center;
            padding: 60px 0 20px 0;
            width: 100%;
          }
          p {
            width: 90%;
            font-size: 1rem;
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
