.main-leader {
  margin-top: 10%;

  .main-leader__container {
    .main-leader__contents {
      display: flex;
      align-items: center;

      width: 90%;
      margin: 0 auto 0 10%;

      img {
        width: 50%;
        display: block;
      }

      figcaption {
        background-color: #fff;
        position: relative;
        left: -120px;
        top: 60px;
        padding: 60px 50px 0 50px;

        h2 {
          @include fontJosefin;
          text-transform: uppercase;
          font-size: 2.7rem;
        }

        p {
          @include fontAlata;
          color: $font-dark-gray;
          font-size: 1rem;
          width: 100%;
          margin: 20px auto;
        }
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1023px) {
    .main-leader__container {
      .main-leader__contents {
        display: flex;
        width: 90%;

        img {
          width: 50%;
          display: block;
        }

        figcaption {
          left: -80px;
          top: 40px;
          padding: 20px 40px 0 40px;

          h2 {
            font-size: 2rem;
          }

          p {
            font-size: 0.7rem;
            width: 100%;
            margin: 20px auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 20%;

    .main-leader__container {
      .main-leader__contents {
        padding: 30px;
        flex-direction: column;
        margin: 0 auto;

        img {
          width: 100%;
          display: block;
        }

        figcaption {
          position: static;
          padding: 0;

          h2 {
            font-size: 2rem;
            text-align: center;
            padding: 60px 0 20px 0;
          }
          p {
            width: 100%;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}
